/* Página de inicio */
body{
  background-color: #f7f7f7;
}

div.banner{
    background-color: #54b5cd;
    color: #f2f2f2;
    height: 5rem;
    border: 0px;
    position: static;
    top: 0;
    display: flex;
    align-items: center;
  }
  
  div.banner img{
    height: 3.5rem;
    float: left; 
  }
  
  div.footer{
    background-color: #e24f3a;
    color: #363736;
    height: 2rem;
    border: 0px;
    position: fixed;
    bottom: 0; 
  }
  
  div.footer p{
    font-size: 1rem;
    text-align: right;
  }
  
  div.navbar{
    background-color: #8ed6e5;
    height: 3rem;
  }
  
  div.content{
    background-color: #f7f7f7;
  }

/*Menú de navegación*/

nav{
    display: flex;
    align-items: center;
  }
  
  nav  a {
    display: block;
    margin-right: 3em;
    line-height: 1rem;
    color: #e24f3a;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav a:hover{
    color: #363736;
    text-decoration: none;
  }
  
  nav a:active{
    color: #54b5cd;
    text-decoration: none;
  }
  
  .usr{
  
    height: 1.8rem;
    margin-right: 0.5em;
  }

  .logout{
  
    height: 1.5rem; 
  }

  .icon{
  
    height: 1.5rem;
    float: right;
    padding-left: 2em; 
  }

  /*Tabla de resultados*/

  p{font-size: 1.5em;}

  table{
      margin: auto;
      border-collapse: separate;
      border-radius: 1.5em;
  }

  th{
      border-bottom: 3px solid #e24f3a;
      text-align: center;
      padding: 0.5em 3em 0.5em 1em;
  }

  td{
    text-align: left;
    border-bottom: 1px solid #54b5cd;
    padding: 0.5em 3em 0.5em 1em;
    background-color: white;
    }

/*Media Queries*/

@media screen and (max-width: 500px) and (min-width: 100px){

  table{
    margin: auto;
    border-collapse: separate;
    border-radius: 1.5em;
    font-size: xx-small;
    width: min-content;
  }

  th{
    border-bottom: 3px solid #e24f3a;
    text-align: center;
    padding: 0.5em 0.3em 0.5em 0.3em;
    font-size: xx-small;
  }

td{
  text-align: left;
  border-bottom: 1px solid #54b5cd;
  padding: 0.5em 0.3em 0.5em 0.3em;
  background-color: white;
  font-size: xx-small;
  }

  .icon{
  
    height: 1.5rem;
    float: right;
    padding-left: 0.1em;
    padding-left: 0.1em;
  }

}

@media screen and (max-width: 700px) and (min-width: 501px){

  table{
    margin: auto;
    border-collapse: separate;
    border-radius: 1.5em;
    font-size: small;
    width: min-content;
  }

  th{
    border-bottom: 3px solid #e24f3a;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.3em;
    font-size: small;
  }

td{
  text-align: left;
  border-bottom: 1px solid #54b5cd;
  padding: 0.5em 0.5em 0.5em 0.3em;
  background-color: white;
  font-size: small;
  }

  .icon{
  
    height: 1.5rem;
    float: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
}

@media screen and (max-width: 1000px) and (min-width: 701px){

  table{
    margin: auto;
    border-collapse: separate;
    border-radius: 1.5em;
    font-size: medium;
    width: min-content;
  }

  th{
    border-bottom: 3px solid #e24f3a;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: medium;
  }

td{
  text-align: left;
  border-bottom: 1px solid #54b5cd;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: white;
  font-size: medium;
  }

  .icon{
  
    height: 1.5rem;
    float: right;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
}

@media screen and (max-width: 2200px) and (min-width: 1800px){

  table{
    margin: auto;
    border-collapse: separate;
    border-radius: 1.5em;
    width: max-content;
  }

  th{
    border-bottom: 3px solid #e24f3a;
    text-align: center;
    padding: 1em 1.5em 1em 1.5em;
  }

td{
  text-align: left;
  border-bottom: 1px solid #54b5cd;
  padding: 1em 1.5em 1em 1.5em;
  background-color: white;
  }

  .icon{
  
    height: 1.5rem;
    float: right;
    padding-left: 2em;
    padding-right: 2em;
  }
  
}

@media screen and (max-width: 5000px) and (min-width: 2201px){

  table{
    margin: auto;
    border-collapse: separate;
    border-radius: 1.5em;
    width: max-content;
  }

  th{
    border-bottom: 3px solid #e24f3a;
    text-align: center;
    padding: 1em 1.5em 1em 1.5em;
    font-size: xx-large;
  }

td{
  text-align: left;
  border-bottom: 1px solid #54b5cd;
  padding: 1em 1.5em 1em 1.5em;
  background-color: white;
  font-size: xx-large;
  }

  .icon{
  
    height: 3.5rem;
    float: right;
    padding-left: 2em;
    padding-right: 2em;
  }
  
}

@media screen and (max-width: 10000px) and (min-width: 5001px){

  table{
    margin: auto;
    border-collapse: separate;
    border-radius: 1.5em;
    width: 80%;
  }

  th{
    border-bottom: 3px solid #e24f3a;
    text-align: center;
    padding: 1.5em 2.5em 1.5em 2.5em;
    font-size: 5em;
  }

td{
  text-align: left;
  border-bottom: 1px solid #54b5cd;
  padding: 1.5em 2.5em 1.5em 2.5em;
  background-color: white;
  font-size: 5em;
  }

  .icon{
  
    height: 10.5rem;
    float: right;
    padding-left: 2em;
    padding-right: 2em;
  }

  p{
    font-size: 5em;
  }
  
}